/*====Variables====*/
/* ======Estilos HEADER====== */
body {
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
}

.header-container_logo img {
  height: 100px;
  width: 100px;
  margin-left: 30px;
  margin-top: 5px;
}

.header-container__buscador {
  margin-right: 25px;
  margin-top: 15px;
}
.header-container__buscador--nav {
  padding: 0;
  background-color: #DD3330;
  margin-top: 2%;
  border-radius: 15%;
}

.nav-link_active {
  color: whitesmoke;
  font-size: 1rem;
}

.navbar-toggler {
  border-radius: 80px;
}

/* ======Estilos Main inicio====== */
.main-inicio {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 100px);
  row-gap: 5px;
  column-gap: 5px;
}
.main-inicio__imgfondo {
  grid-column: 1/13;
  grid-row: 1/11;
  background-image: url(../../img/corazon.jpeg);
  background-size: cover;
}
.main-inicio__texto {
  grid-column: 1/9;
  grid-row: 1/7;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
}
.main-inicio__texto p {
  background-color: rgba(0, 0, 0, 0.6039215686);
  color: #db5c5c;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}
.main-inicio div img {
  border: solid #ffdd44;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.main-inicio__imagen__img1 {
  grid-column: 1/5;
  grid-row: 7/10;
  margin-left: 5px;
}
.main-inicio__imagen__img2 {
  grid-column: 5/9;
  grid-row: 7/10;
}
.main-inicio__imagen__img3 {
  grid-column: 9/13;
  grid-row: 1/10;
  margin-right: 5px;
}

/* ======Estilos Main biografia====== */
.main_biografia {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 100px);
  row-gap: 5px;
  column-gap: 5px;
}
.main_biografia div h2 {
  background-color: #2f2f2f;
  color: #ffdd44;
  border-radius: 20px;
  text-align: center;
  font-size: 2rem;
}
.main_biografia div p {
  margin-left: 1rem;
  margin-left: 1rem;
  font-weight: 500;
}
.main_biografia div img {
  border: solid #ffdd44;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.main_biografia_titulo1 {
  grid-row: 1/4;
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 100px);
}
.main_biografia_titulo1 h2 {
  grid-column: 1/10;
  grid-row: 1/2;
}
.main_biografia_titulo1 p {
  grid-column: 1/10;
  grid-row: 2/4;
}
.main_biografia_titulo1 img {
  grid-column: 10/13;
  grid-row: 1/4;
}
.main_biografia_titulo2 {
  grid-row: 4/7;
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 100px);
}
.main_biografia_titulo2 h2 {
  grid-column: 4/13;
  grid-row: 1/2;
}
.main_biografia_titulo2 p {
  grid-column: 4/13;
  grid-row: 2/7;
}
.main_biografia_titulo2 img {
  grid-column: 1/4;
  grid-row: 1/4;
}
.main_biografia_titulo3 {
  grid-row: 7/10;
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 100px);
}
.main_biografia_titulo3 h2 {
  grid-column: 1/10;
  grid-row: 1/2;
}
.main_biografia_titulo3 p {
  grid-column: 1/10;
  grid-row: 2/6;
  margin-left: 1rem;
  margin-left: 1rem;
}
.main_biografia_titulo3 img {
  grid-column: 10/13;
  grid-row: 1/5;
}

/* ======Estilos Main Discografia====== */
.main_discografia__galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
}
.main_discografia__galeria a {
  display: block;
  position: relative;
  overflow: hidden;
}
.main_discografia__galeria img {
  width: 100%;
  vertical-align: top;
  height: 400px;
  object-fit: cover;
  transition: transform 0.5s;
}

.main_discografia__galeria a:hover img {
  filter: blur(3px);
  transform: rotate(15deg) scale(1.2);
}

.light-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: transform 0.4s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}
.light-box img {
  width: 30vw;
  max-height: 70vh;
  object-fit: cover;
  border-radius: 10px;
}

.light-box:target {
  transform: scale(0.8);
}

.close {
  display: block;
  position: absolute;
  top: 15%;
  right: 32%;
  background: #DD3330;
  color: white;
  font-size: x-large;
  text-decoration: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

/* ======Estilos Main Productos====== */
.main_productos {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 100px);
}

.div-contenedor {
  grid-column: 1/13;
  grid-row: 1/20;
}

.accordion-item-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.accordion-item-div__btn {
  text-align: center;
  margin: 5px;
  width: 10%;
  border-radius: 3px;
}
.accordion-item-div svg {
  margin-left: 15px;
  margin-top: 5px;
  margin-right: 5px;
}

.img_zoom {
  transition: all 0.1s ease;
}

.img_zoom:active {
  transform: scale(1.8);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5%;
}

.accordion-item-div__btn:hover {
  background-color: whitesmoke;
  color: black;
  border: solid 1px #DD3330;
}

.accordion-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 2px;
  margin-right: 2px;
}
.accordion-img div {
  display: flex;
  flex-direction: column;
}
.accordion-img div q {
  font-size: 30px;
  text-align: center;
  justify-content: center;
}
.accordion-img div button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  margin-left: 65px;
  justify-content: center;
}
.accordion-img .bot-agregar:hover {
  transform: scale(1.3);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}

/* ======Estilos Main Foro====== */
nav {
  display: flex;
  justify-content: center;
  background-color: #DD3330;
}
nav a {
  color: whitesmoke;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-size: larger;
}
nav a:hover {
  background-color: whitesmoke;
  color: black;
}

.main-foro-nav-img {
  width: 15vw;
  height: 35vh;
}

.container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.categorias {
  margin-bottom: 20px;
}
.categorias h2 {
  background-color: gray;
  padding: 10px;
  margin: 0;
  border-radius: 5px 5px 0 0;
}

.temas {
  border: 1px solid black;
  border-top: none;
  border-radius: 0 0 5px 5px;
  padding: 10px;
}

.topicos {
  padding: 10px;
  border-bottom: 1px solid black;
}

.topicos:last-child {
  border-bottom: none;
  position: sticky;
}

.topicos h3 {
  margin: 0;
  position: sticky;
}

.topicos p {
  margin: 5px 0 0 0;
  color: #666;
}

.tema {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.tema h2 {
  margin-top: 0;
}

.respuesta {
  border-top: 1px solid black;
  padding-top: 10px;
  margin-top: 10px;
}

.nuevo-mensaje {
  position: sticky;
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}
.nuevo-mensaje h3 {
  margin-top: 0;
}

.formulario {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.formulario button {
  position: sticky;
  background-color: #DD3330;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formulario button:hover {
  background-color: whitesmoke;
  color: black;
  border: solid 1px #DD3330;
}

/* ======Estilos FOOTER====== */
.footer-container {
  position: absolute;
  bottom: 1;
  background-color: #2E2E2E;
  width: 100%;
  height: 100px;
}

.footer-container__contactos {
  position: absolute;
  bottom: 2rem;
  left: 10px;
  width: 30%;
}

.footer-container__contactos div {
  display: flex;
  width: 40%;
  align-items: left;
  justify-content: space-evenly;
}

.footer-container__card__copyring {
  position: absolute;
  bottom: 5px;
  text-align: center;
  width: 100%;
}
.footer-container__card__copyring h5 {
  color: rgba(255, 255, 255, 0.5058823529);
  text-align: center;
}

.footer-container__card {
  position: absolute;
  right: 20px;
  bottom: 1rem;
}
.footer-container__card img {
  width: 70px;
  height: 70px;
  border-radius: 8px;
}

@media only screen and (min-width: 992px) and (max-width: 1500px) {
  /*====Inicio====*/
  .main-inicio {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 100px);
    row-gap: 5px;
    column-gap: 5px;
  }
  .main-inicio__texto {
    grid-column: 1/9;
    grid-row: 1/7;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .main-inicio__texto p {
    font-size: 0.85rem;
  }
  .main-inicio__imagen__img1 {
    grid-column: 1/5;
    grid-row: 5/8;
  }
  .main-inicio__imagen__img2 {
    grid-column: 5/9;
    grid-row: 5/8;
  }
  .main-inicio__imagen__img3 {
    grid-column: 9/13;
    grid-row: 1/8;
  }
  /*====Biografia====*/
  .main_biografia div h2 {
    font-size: 1.7rem;
    padding-top: 25px;
  }
  .main_biografia div p {
    margin-left: 1rem;
    margin-left: 1rem;
    font-size: 75%;
  }
  .main_biografia div img {
    width: 100%;
    height: 100%;
  }
  /*====Discografia====*/
  .main_discografia__galeria {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .close {
    position: static;
    top: 100px;
    right: 400px;
    transform: scale(0.9);
  }
  .light-box:target {
    transform: scale(1);
  }
  /*====Productos====*/
  .accordion-item-div {
    justify-content: flex-end;
  }
  .accordion-item-div__btn {
    text-align: center;
    margin: 15px;
    width: 10%;
    border-radius: 3px;
  }
  .accordion-item-div svg {
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 5px;
  }
  .img_zoom {
    transition: all 0.1s ease;
  }
  .img_zoom:active {
    transform: scale(1.6);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
  }
  .accordion-img div q {
    font-size: 90%;
  }
  .accordion-img button {
    width: 80%;
    height: 80%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .navbar-toggler-icon {
    background-color: whitesmoke;
    border-radius: 20%;
  }
  .header-container__buscador--nav {
    background-color: #000000;
  }
  .nav-link {
    color: whitesmoke;
  }
  .nav-link_active {
    color: #DD3330;
    font-size: 1rem;
  }
  /*====Inicio====*/
  .main-inicio {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 100px);
    row-gap: 5px;
    column-gap: 5px;
  }
  .main-inicio__texto {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .main-inicio__texto p {
    font-size: 0.65rem;
  }
  .main-inicio__imagen__img1 {
    grid-column: 1/7;
    grid-row: 6/8;
  }
  .main-inicio__imagen__img2 {
    grid-column: 7/13;
    grid-row: 6/8;
  }
  .main-inicio__imagen__img3 {
    grid-column: 9/13;
    grid-row: 1/6;
  }
  /*====Biografia====*/
  .main_biografia {
    margin-top: 5px;
  }
  .main_biografia div h2 {
    font-size: 1.5rem;
    padding-top: 10px;
  }
  .main_biografia div p {
    margin-left: 1rem;
    margin-left: 1rem;
    font-size: 0.7rem;
  }
  .main_biografia div img {
    width: 100%;
    height: 100%;
  }
  .main_biografia_titulo1 h2 {
    height: 50px;
    grid-column: 1/9;
  }
  .main_biografia_titulo1 p {
    grid-column: 1/9;
    grid-row: 1/5;
    margin-top: 50px;
  }
  .main_biografia_titulo1 img {
    grid-column: 9/13;
    grid-row: 1/4;
    border: solid #ffdd44;
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }
  .main_biografia_titulo2 {
    grid-column: 1/13;
    grid-row: 5/7;
  }
  .main_biografia_titulo2 h2 {
    grid-column: 5/13;
    height: 50px;
    font-size: 2rem;
  }
  .main_biografia_titulo2 p {
    grid-column: 5/13;
    grid-row: 1/3;
    margin-top: 50px;
    margin-left: 1rem;
    margin-left: 1rem;
  }
  .main_biografia_titulo2 img {
    grid-column: 1/5;
    grid-row: 1/4;
    border: solid #ffdd44;
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }
  .main_biografia_titulo3 {
    grid-column: 1/13;
    grid-row: 8/13;
  }
  .main_biografia_titulo3 h2 {
    grid-column: 1/9;
    height: 50px;
    font-size: 2rem;
  }
  .main_biografia_titulo3 p {
    grid-column: 1/9;
    grid-row: 1/6;
    margin-top: 50px;
    margin-left: 1rem;
    margin-left: 1rem;
  }
  .main_biografia_titulo3 img {
    grid-column: 9/13;
    grid-row: 1/4;
    border: solid #ffdd44;
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }
  /*====Discografia====*/
  .main_discografia__galeria {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .close {
    position: static;
    top: 170px;
    right: 170px;
    transform: scale(0.7);
  }
  .light-box:target {
    transform: scale(1.5);
  }
  img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  /*====Productos====*/
  .accordion-item-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .accordion-item-div__btn {
    text-align: center;
    width: 50%;
    border-radius: 3px;
  }
  .accordion-item-div svg {
    width: 30%;
    height: 50px;
    margin-left: 0;
    margin-top: 5px;
    margin-right: 5px;
  }
  .img_zoom {
    transition: all 0.1s ease;
  }
  .img_zoom:active {
    transform: scale(1.4);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
  }
  .accordion-img div q {
    font-size: 90%;
  }
  .accordion-img button {
    width: 80%;
    height: 80%;
  }
  /*====Foro====*/
  nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: small;
  }
  /*====Footer====*/
  .footer-container__contactos div {
    display: flex;
    width: 60%;
    align-items: left;
    justify-content: space-evenly;
  }
  .bi {
    width: 20px;
  }
  .footer-container__card__copyring {
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
  }
  .footer-container__card__copyring h5 {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.5058823529);
    text-align: center;
  }
  .footer-container__card {
    position: absolute;
    right: 10px;
    bottom: 1.7rem;
  }
  .footer-container__card img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }
}
@media screen and (max-width: 480px) {
  /*====Inicio====*/
  .main-inicio {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 100px);
    row-gap: 5px;
    column-gap: 5px;
  }
  .main-inicio__texto {
    grid-column: 2/12;
    grid-row: 1/5;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .main-inicio__texto p {
    font-size: 0.6rem;
  }
  .main-inicio__imagen__img1 {
    grid-column: 1/7;
    grid-row: 6/8;
  }
  .main-inicio__imagen__img2 {
    grid-column: 7/13;
    grid-row: 6/8;
  }
  .main-inicio__imagen__img3 {
    display: none;
  }
  /*====Biografia====*/
  /*====Discografia====*/
  /*====Productos====*/
  /*====Foro====*/
  /*====Footer====*/
}
@media screen and (max-width: 480px) and (max-width: 480px) {
  .main_biografia {
    margin-top: 5px;
    grid-template-rows: repeat(9, 100px);
  }
  .main_biografia div h2 {
    font-size: 1rem;
    margin: 0;
    padding-top: 10px;
    margin-top: 10px;
    background-color: rgba(46, 46, 46, 0.7333333333);
  }
  .main_biografia div p {
    font-size: 0.5rem;
    font-weight: 500;
    color: white;
    margin: 0;
    margin-top: 60px;
    background-color: rgba(0, 0, 0, 0.568);
    text-align: center;
  }
  .main_biografia div img {
    width: 100%;
    height: 100%;
  }
  .main_biografia_titulo1 h2 {
    height: 50px;
    grid-column: 2/12;
    z-index: 100;
  }
  .main_biografia_titulo1 p {
    grid-column: 2/12;
    grid-row: 1/5;
    z-index: 100;
  }
  .main_biografia_titulo1 img {
    grid-column: 1/13;
    grid-row: 1/5;
  }
  .main_biografia_titulo2 {
    grid-column: 1/13;
    grid-row: 4/7;
  }
  .main_biografia_titulo2 h2 {
    height: 50px;
    grid-column: 2/12;
    z-index: 100;
  }
  .main_biografia_titulo2 p {
    grid-column: 2/12;
    grid-row: 1/4;
    z-index: 100;
  }
  .main_biografia_titulo2 img {
    grid-column: 1/13;
    grid-row: 1/4;
  }
  .main_biografia_titulo3 {
    grid-column: 1/13;
    grid-row: 7/10;
  }
  .main_biografia_titulo3 h2 {
    height: 50px;
    grid-column: 2/12;
    z-index: 100;
  }
  .main_biografia_titulo3 p {
    grid-column: 2/12;
    grid-row: 1/4;
    z-index: 100;
  }
  .main_biografia_titulo3 img {
    grid-column: 1/13;
    grid-row: 1/4;
  }
}
@media screen and (max-width: 480px) {
  .main_discografia__galeria {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .close {
    position: static;
    top: 200px;
    right: 120px;
    transform: scale(0.5);
  }
  .light-box:target {
    transform: scale(2);
  }
  img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .accordion-item-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .accordion-item-div__btn {
    text-align: center;
    width: 20%;
    height: 30px;
    border-radius: 2px;
    font-size: 0.7rem;
    margin: 0;
    margin-top: 5px;
  }
  .accordion-item-div svg {
    height: 25px;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 1px;
  }
  .img_zoom {
    transition: all 0.2s ease;
  }
  .img_zoom:active {
    transform: scale(1.2);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
  }
  .accordion-img div q {
    font-size: 70%;
  }
  .accordion-img button {
    width: 40%;
    height: 40%;
    margin-left: 10px;
    justify-content: center;
  }
  .bot-agregar:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  }
  nav a {
    font-size: x-small;
  }
  .container {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h2 {
    font-size: small;
  }
  h3 {
    font-size: x-small;
  }
  p {
    font-size: small;
  }
  .footer-container {
    position: absolute;
    bottom: 1;
    background-color: #2e2e2e;
    width: 100%;
    height: 70px;
  }
  .footer-container__contactos div {
    display: flex;
    width: 60%;
    align-items: left;
    justify-content: space-evenly;
  }
  .bi {
    width: 20px;
  }
  .footer-container__card__copyring {
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
  }
  .footer-container__card__copyring h5 {
    font-size: 0.5rem;
    color: rgba(255, 255, 255, 0.5058823529);
    text-align: center;
  }
  .footer-container__card {
    position: absolute;
    right: 30px;
    bottom: 2rem;
  }
  .footer-container__card img {
    width: 30px;
    height: 30px;
    border-radius: 8px;
  }
}

/*# sourceMappingURL=styles.css.map */
