/* ======Estilos Main Foro====== */

nav {
    display: flex;
    justify-content: center;
    background-color: #DD3330;

    a {
        color: white;
        padding: 14px 20px;
        text-decoration: none;
        text-align: center;
        font-size: larger;
    }

    a:hover {
        background-color: whitesmoke;
        color: black;
    }
}

.main-foro-nav-img {
    width: 15vw;
    height: 35vh;

}



.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.categorias {
    margin-bottom: 20px;

    h2 {
        background-color: gray;
        padding: 10px;
        margin: 0;
        border-radius: 5px 5px 0 0;
    }
}

.temas {
    border: 1px solid black;
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding: 10px;
}


.topicos {
    padding: 10px;
    border-bottom: 1px solid black;
}

.topicos:last-child {
    border-bottom: none;
    position: sticky;
}

.topicos h3 {
    margin: 0;
    position: sticky;
}

.topicos p {
    margin: 5px 0 0 0;
    color: #666;
}

.tema {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;

    h2 {
        margin-top: 0;
    }
}

.respuesta {
    border-top: 1px solid black;
    padding-top: 10px;
    margin-top: 10px;
}

.nuevo-mensaje {
    position: sticky;
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;

    h3 {
        margin-top: 0;
    }
}

.formulario {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.formulario button {
    position: sticky;
    background-color: #DD3330;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: whitesmoke;
    color: black;
    border: solid 1px #DD3330;
}