/* ======Estilos HEADER====== */

body {
    margin: 0
}

.header-container {

    display: flex;
    justify-content: space-between;
    background-color: $bgc-header;

}



.header-container_logo img {

    height: 100px;
    width: 100px;
    margin-left: 30px;
    margin-top: 5px;
}

.header-container__buscador {

    margin-right: 25px;
    margin-top: 15px;

    &--nav {
        padding: 0;
        background-color: $rojo-larenga;
        margin-top: 2%;
        border-radius: 15%;
    }

}

.nav-link_active {
    color: whitesmoke;
    font-size: 1rem;
}



.navbar-toggler {
    border-radius: 80px;

}