/* ======Estilos Main Productos====== */


.main_productos {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 100px);
}

.div-contenedor {

    grid-column: 1/13;
    grid-row: 1/20;

}

img {
    width: 65%;
    height: auto;
}

.accordion-item-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;



    &__btn {
        text-align: center;
        margin: 5px;
        width: 10%;
        border-radius: 3px;

    }

    svg {
        margin-left: 150px;
        margin-top: 5px;
        margin-right: 5px;
    }

}

.img_zoom {
    transition: all 0.1s ease;
}

.img_zoom:active {
    transform: scale(1.8);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
}

.accordion-item-div__btn:hover {
    background-color: whitesmoke;
    color: black;
    border: solid 1px #DD3330;
}

.accordion-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2px;
    margin-right: 2px;


    div {

        display: flex;
        flex-direction: column;
        border: solid black;
        border-radius: 0.7rem;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;

        q {
            font-size: 30px;
            text-align: center;
            justify-content: center;
        }

        button {
            width: 150px;
            height: 30px;
            border-radius: 5px;
            margin-left: 25%;
            margin-bottom: 5%;



        }
    }

    .bot-agregar:hover {
        transform: scale(1.3);
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    }


}